# Default config file for GNU xhippo. Please see the xhippo manual for
# more information on configuration options.

# A hash at the start of a line means a comment.
# The config file parser is a bit simple, so don't put extraneous spaces
# around, particularly at the end of lines.

# These define the "types" that xhippo uses.
# Usage: type:extension:command[:flags]
# The extension is the extension of the filename.
# Flags can include "i" to redirect input from /dev/null, or "g" to
# run the command in a seperate process group.

# This works with both the real mpg123 and with the free mpg321.
type:mp3:mpg123
# But this is preferred anyway.
#type:mp3:madplay:i
#type:mp3:splay
type:wav:play
type:mid:timidity
type:mod:xmp -f44100
type:s3m:xmp -f44100
type:xm:xmp -f44100
type:it:xmp -f44100
# Remove the +f if you've got lots (i.e. larger than the size of the file
# you want to play) of RAM.
#type:mov:xanim +f +Ze
type:mov:mplayer -really-quiet -vo null
type:avi:mplayer -really-quiet -vo null
type:mpg:mplayer -really-quiet -vo null
type:mpeg:mplayer -really-quiet -vo null
type:ogm:mplayer -really-quiet -vo null
# Some versions of ogg123 apparently need to be run with stdin connected
# to /dev/null.
type:ogg:ogg123:i
# Use this instead if you're having trouble with ogg123 not exiting correctly.
#type:ogg:mplayer -really-quiet -vo null
type:sid:sidplay -f44100 -16 -s
type:spx:speexdec

# Use "usercommand" to add any user commands that you want to the menu.
# %s will be replaced with the full filename of the selected song.
#usercommand:List file:ls -l "%s"
#usercommand:Print file:lpr "%s"
#usercommand:View file:rxvt -e less "%s" &

# Use the "load" command to force a playlist to be read.
#load:/home/azz/.xhippo/playlists/mpegs

# Use "exec" to execute a command. You could, for instance, use "find"
# to automatically remake a playlist when you start up xhippo, like this:
#exec:locate .mp3 >tmp-playlist
#load:tmp-playlist
#exec:rm -f tmp-playlist

# Make this "autostart:yes" if you want xhippo to start playing immediately 
# when it's run.
autostart:no

# Make this "scroll:no" if you don't want xhippo to scroll the playlist
# when it selects a random item.
scroll:yes

# Make this "leftscroll:yes" if you want xhippo's scrollbar to be on the
# left (which looks better with NeXTStep-style themes).
leftscroll:no

# Make this "mustplayall:no" if you want xhippo to prematurely repeat
# playlist items.
mustplayall:yes

# Make this "showpid:yes" if you want xhippo to show the PID of its
# player processes.
showpid:no

# Make this "readid3:yes" if you want xhippo to attempt to read ID3 tags
# from files.
readid3:no

# Make this "savewinstate:no" if you don't want xhippo to save the position
# and state (minified or not) of its window between sessions.
savewinstate:yes

# Make this "startmini:yes" if you want xhippo to start up in
# "minified" state (as if you'd checked the "Mini" checkbox).
startmini:no

# Make this "ordered:yes" if you want xhippo to start up with the
# "Random" checkbox cleared.
ordered:no

# Make this "stripextension:no" if you don't want xhippo to strip
# the extensions off files displayed in the playlist.
stripextension:yes

# Make this "hideplayeroutput:yes" if you want the output of child
# processes redirected to /dev/null.
hideplayeroutput:no

# This specifies the type of sort to do on startup. "none" (or any
# other unrecognised value) means don't sort; "name" (or any non-zero
# numeric value) means to sort by name, "swapped" to sort by swapped
# name, "mtime" to sort by mtime.
sortonload:none

# Specify this if you want to use a different directory for playlists.
#playlistdir:/usr/local/lib/playlists

# Make this "demanglenames:no" if you don't want xhippo to replace
# %20s and underscores with spaces in the playlist display.
demanglenames:yes

# Make this "onetime:yes" if you want xhippo to stop once all the songs
# in the list have been played.
onetime:no

# Make this "playlisttitle:no" if you don't want xhippo to set the
# window title to include the name of the loaded playlist.
playlisttitle:yes

# Make this "titlebasename:no" if you want xhippo to use the full
# path of the playlist in the window title instead of the basename.
titlebasename:yes

# Make this "nocheckfiles:yes" if you don't want xhippo to check that
# all files added or read from a playlist actually exist.
nocheckfiles:no

# Make this "writeplaying:yes" if you want xhippo to write the display
# name of the currently-playing song to ~/.xhippo/current_song.
writeplaying:no

# Make this "skippath:n" to always skip the first n components of the
# path in filenames when converting to the display name; the default is
# 0, which means to use the basename.
#skippath:2

# Uncomment one of these to assume that non-option arguments are files
# or directories to add to the playlist.
#commandlinefiles:yes
#commandlinedirs:yes

# Make this "deletewhenplayed:yes" to make xhippo remove files from
# the playlist after they have been played.
deletewhenplayed:no

# Make this "persistplaylist:yes" to automatically load and save the
# playlist on startup and shutdown.
persistplaylist:no

# Make this "commandlineguess:no" if you don't want xhippo to attempt
# to guess what command-line arguments are.
commandlineguess:yes

# Make this "persistfrequently:yes" to make xhippo save the playlist
# after starting each song if persistplaylist is turned on.
persistfrequently:no

